#quick-view-product {
    bottom: 0;
    left: 0;
    overflow-x: auto;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0 !important;
    z-index: 9999
}
#quick-view-product .product-info {
    color: #222;
    font-weight: 300
}
#quick-view-product .brand {
    color: #222
}
#quick-view-product .available {
    margin: 0;
    font-weight: 400;
    color: #72C13D
}
#quick-view-product .available.outstock {
    color: #E55E5E
}
#quick-view-product .qwp-name {
    margin: 10px 0;
    font-size: em(24px);
    font-weight: 400;
    line-height: 32px;
    color: #333
}
#quick-view-product .image-block {
    width: 100%
}
#quick-view-product .view_full_size {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: block
}
#quick-view-product a.img-product {
    display: block;
    width: 100%
}
.product-featured-image-quickview {
    border: 1px solid #ebebeb;
    margin-bottom: 10px;
    display: block;
    width: 100%
}
.quantity_wanted_p {
    border-top: 1px solid #ebebeb;
    padding-top: 20px
}
.qvariants {
    padding-top: 20px;
    border-top: 1px solid #ebebeb
}
#quick-view-product ul {
    list-style: none
}
#quick-view-product form {
    margin-top: 25px
}
#quick-view-product form label {
    display: inline-block;
    width: 90px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    float: left
}
#quick-view-product form select {
    width: 150px;
    display: inline-block;
    height: 40px;
    float: left;
    margin-right: 20px;
    border-color: #ebebeb
}
#quick-view-product .price {
    color: #35c0c5;
    font-size: em(22px);
    font-weight: 700
}
#quick-view-product del {
    font-size: em(16px);
    color: #a2a2a2;
    margin-left: 5px;
    display: inline-block
}
#quick-view-product #usefull_link_block {
    margin: 10px 0
}
#quick-view-product #usefull_link_block li a {
    color: #222;
    line-height: 17px
}
#quick-view-product .fancybox-overlay {
    display: block !important;
    height: 100vh;
    background: none;
    z-index: 100
}
#quick-view-product .quick-view-product {
    position: absolute;
    width: 890px;
    top: 5%;
    height: auto;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 30px;
    background-color: #fff;
    z-index: 8011
}
#quick-view-product .prices {
    display: inline-block;
    margin-bottom: 15px
}
#quick-view-product .product-right-column .price-product-detail {
    margin: 0;
    line-height: 33px
}
#quick-view-product #quantity-detail {
    line-height: 39px;
    margin: 0;
    display: inline-block;
    width: 115px;
    border-color: #ebebeb;
    box-shadow: none;
    border: 1px solid #ebebeb;
    text-align: center;
    padding-left: 10px;
    height: 40px
}
#quick-view-product .total-price {
    float: left;
    width: 100%;
    display: block;
    margin-top: 15px
}
#quick-view-product .total-price span {
    font-family: Roboto;
    font-size: em(15px);
    font-weight: 400;
    color: #222
}
#quick-view-product .more-view-wrapper {
    overflow: hidden
}
#quick-view-product .product-right-column .quantity_wanted_p {
    width: 100%;
    margin-top: 15px
}
#quick-view-product .product-right-column .add_to_cart_detail {
    margin: 15px 10px 15px 0;
    width: 100%
}
#quick-view-product .product-right-column .add_to_cart_detail.disabled {
    padding: 0 20px
}
#quick-view-product .product-right-column .btn-wishlist {
    margin-top: 15px
}
#quick-view-product .swatch {
    margin: 20px 0 0
}
#quick-view-product .swatch .swatch-element {
    margin: 6px 6px 0 0
}
#quick-view-product .view_full_size {
    position: relative
}
#quick-view-product .loading-imgquickview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(loading.gif) center center no-repeat
}
#quick-view-product .availability,
#quick-view-product .product-sku {
    line-height: 28px
}
#thumbs_list_quickview {
    text-align: center;
    position: relative;
    margin-top: 6px
}
#thumblist_quickview {
    position: relative;
    padding: 0
}
#thumblist_quickview #thumblist {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    position: static
}
#thumblist_quickview .owl-row {
    margin-left: -3px;
    margin-right: -3px
}
#thumblist_quickview .owl-item {
    float: left
}
#thumblist_quickview .owl-item a {
    display: block
}
#thumblist_quickview .owl-item img {
    max-width: 100%
}
#thumblist_quickview .thumb_item {
    border: 1px solid #e6e6e6
}
#thumblist_quickview .owl-next,
#thumblist_quickview .owl-prev {
    width: 16px;
    height: 16px;
    margin-top: -8px
}
#thumblist_quickview .owl-next:before,
#thumblist_quickview .owl-prev:before {
    border: 1px solid #b6b6b6;
    border-radius: 100%;
    font-size: em(10px);
    line-height: 12px;
    height: 16px;
    color: #000;
    text-shadow: none
}
#thumblist_quickview .owl-next:hover:before,
#thumblist_quickview .owl-prev:hover:before {
    background: #222;
    color: #fff
}
@media (max-width: 1199px) {
    #quick-view-product,
    .quickview {
        display: none !important
    }
}
.fancybox-close {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 8040;
    color: #fff;
    text-align: center;
    background: #333;
    line-height: 25px;
    border-radius: 50%
}
.quickview-info {
    margin-bottom: 20px;
    border-top: 1px solid #ebebeb;
    padding-top: 20px
}
.quickview-product .product-single h1 a,
.quickview-product .product-single .h1 a {
    font-size: em(20px)
}
.quickview-product .product-single .price {
    font-size: em(26px)
}
.quickview-product .content {
    padding: 30px
}
.quickview-product .product-name {
    margin: 0 0 10px !important
}
.quickview-product .review {
    margin-bottom: 10px
}
.quickview-product .review:before {
    content: " ";
    display: table
}
.quickview-product .review:after {
    content: " ";
    display: table;
    clear: both
}
.quickview-product .review .spr-badge {
    float: left;
    height: 24px;
    overflow: hidden;
    position: relative;
    margin-bottom: 0
}
.quickview-product .review .spr-badge .spr-icon {
    margin: 0
}
.quickview-product .review .spr-badge .spr-active {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden
}
.quickview-product .review .spr-badge .spr-badge-caption {
    float: left;
    margin: 0 0 9px
}
.quickview-product span.available {
    display: none
}
.quickview-product span.available.active {
    display: block
}
.quickview-product .product-description {
    padding-bottom: 20px
}
.quickview-product .product-actions {
    border: none;
    padding: 0;
    margin: 0
}
.quickview-product .product-actions .btn-addToCart {
    clear: none;
    margin: 0
}
.quickview-product .product-media {
    position: relative;
    min-width: 400px
}
.quickview-product .product-media:before {
    content: " ";
    display: table
}
.quickview-product .product-media:after {
    content: " ";
    display: table;
    clear: both
}
.quickview-product .more-views {
    width: 80px;
    margin: 0;
    height: calc(100% - 60px);
    min-height: 361px;
    position: absolute;
    top: 30px;
    left: 0;
    overflow: hidden
}
.quickview-product .more-views a {
    display: block;
    overflow: hidden;
    height: 100%
}
.quickview-product .more-views img {
    display: block;
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}
.quickview-product .featured-image {
    float: right;
    width: calc(100% - 100px);
    margin: 0
}
.quickview-product form {
    margin: 0
}
.quickview-product .product-actions .product-single-quantity {
    margin-bottom: 0
}
.quickview-product .product-single .product-description {
    margin: 0 0 25px
}
.quickview-product .product-options {
    margin: 0 0 25px;
    padding: 0 0 25px
}
.quickview-product .details {
    margin: 0 0 8px
}
button.btn.btn-primary.add_to_cart_detail.ajax_addtocart {
    border-radius: 0;
    width: 260px;
    margin-left: 2px;
    transform: translateY(-1px);
    transform: -moz-translateY(-1px);
    transform: -webkit-translateY(-1px);
    background: #35c0c5;
    border-color: #35c0c5
}
a.close-window {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 20px;
    color: #35c0c5
}
#popup-cart-desktop {
    width: 800px;
    background: #fff;
    float: none;
    margin: 0 auto;
    padding: 40px;
    padding-bottom: 20px;
    position: relative
}
#popup-cart-desktop .title-popup-cart {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    padding-right: 15px
}
#popup-cart-desktop .title-popup-cart i {
    color: #35c0c5
}
#popup-cart-desktop .title-popup-cart i.check {
    border: 2px solid #35c0c5;
    font-size: 14px;
    padding: 6px;
    border-radius: 50%
}
#popup-cart-desktop .title-quantity-popup {
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase
}
#popup-cart-desktop .title-quantity-popup .fa-shopping-cart {
    color: #35c0c5;
    font-size: 25px
}
#popup-cart-desktop .title-quantity-popup .fa-caret-right {
    font-size: 14px
}
#popup-cart-desktop .item-remove {
    height: 0;
    margin: 0
}
#popup-cart-desktop .item-name {
    margin-bottom: 0
}
#popup-cart-desktop .content-popup-cart .thead-popup {
    float: left;
    width: 100%;
    clear: both;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    font-weight: 700
}
#popup-cart-desktop .content-popup-cart .thead-popup>div {
    float: left;
    padding: 6px 10px;
    font-size: 14px;
    padding-left: 0;
    border-left: 2px solid #fff
}
#popup-cart-desktop .content-popup-cart .thead-popup>div:first-child {
    border-left: none
}
#popup-cart-desktop .content-popup-cart .tbody-popup {
    width: 100%;
    float: left;
    clear: both;
    max-height: 280px;
    overflow-x: auto;
    border-top: none
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup {
    width: 100%;
    float: left;
    clear: both;
    border-bottom: 1px solid #ebebeb;
    position: relative;
    height: 140px;
    overflow: hidden
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup>div {
    float: left;
    position: relative;
    height: 100%
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup>div:nth-child(3) {
    position: relative
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup>div .fixab {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%)
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-image {
    padding: 10px;
    padding-left: 40px;
    float: left;
    margin-top: 5px;
    min-height: 100px
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-image img {
    border: 1px solid #d2d2d2
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info {
    padding: 10px 0;
    margin-top: 49px
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info span.add_sus {
    font-size: 14px;
    color: #35c0c5 !important;
    font-style: italic
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info span.add_sus i {
    color: #35c0c5 !important
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .item-name a {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .item-name a:hover {
    color: #35c0c5
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .variant-title-popup {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333333
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .item-remove a {
    font-size: 0;
    color: #888;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%)
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .item-remove a i {
    font-size: 14px;
    border: 2px solid #636363;
    border-radius: 50%;
    padding: 3px 5px;
    color: #636363;
    text-align: center
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-price {
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%)
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-price span {
    display: block
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-price .price {
    color: #35c0c5;
    font-size: 14px;
    font-weight: 500
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-price .compare-price {
    color: #35c0c5;
    font-size: 13px;
    text-decoration: line-through;
    font-weight: 500
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-price .compare-divide {
    font-size: 12px;
    color: #d71515
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .items-count {
    border: 1px solid #ddd;
    outline: none;
    background: #fff;
    height: 22px;
    width: 23px;
    text-align: center;
    vertical-align: top;
    padding: 0
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .items-count .fa {
    font-size: 15px;
    color: #333
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .number-sidebar {
    border: 1px solid #ddd;
    height: 40px;
    margin-left: -1px;
    text-align: left;
    padding-left: 20px;
    font-size: 14px;
    width: 100px;
    vertical-align: top;
    margin-right: -1px;
    display: inline-block;
    min-height: 24px
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .cart-price {
    display: block;
    font-weight: 500;
    padding: 10px;
    font-size: 13px;
    position: absolute;
    color: #35c0c5;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%)
}
#popup-cart-desktop .content-popup-cart .tfoot-popup {
    width: 100%;
    float: left;
    clear: both
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 {
    padding: 10px 0
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-ship {
    font-size: 13px;
    width: 320px
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-ship img {
    float: left;
    margin-right: 10px
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-ship p {
    line-height: 20px;
    margin-top: 10px;
    text-transform: uppercase
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-total p {
    font-size: 15px;
    font-weight: bold;
    padding: 15px 0;
    padding-bottom: 0
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-total p .total-price {
    color: #35c0c5
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-2 a {
    cursor: pointer
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-2 .button.btn-continue {
    margin: 10px;
    background: transparent;
    font-size: 13px;
    float: left;
    border: none;
    outline: none;
    color: #35c0c5;
    margin-top: -25px;
    margin-left: 0
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-2 .button.btn-proceed-checkout {
    background: #35c0c5;
    font-size: 15px;
    float: right;
    display: block;
    padding: 6px 10px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 10px;
    height: 50px;
    width: 240px;
    text-align: center;
    line-height: 50px;
    padding: 0;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 0;
    font-weight: 400
}
button.increase.items-count.btn-plus {
    position: absolute;
    line-height: 30px;
    right: 7px;
    top: 1px;
    margin: 0;
    border: none !important
}
button.reduced.items-count.btn-minus {
    position: absolute;
    right: 7px;
    border: none !important;
    bottom: 1px;
    margin: 0
}
.fancybox-skin {
    background: #fff !important
}
.modal-content {
    border: none;
    box-shadow: none;
    border-radius: 0.5rem;
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0
}
.modal-header {
    background-color: #35c0c5;
    color: #fff;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px
}
.modal-body {
    position: relative;
    padding: 15px
}
.modal-header .close {
    margin-top: -2px;
    opacity: 1 !important
}
.modal-header .close span {
    color: #fff
}
button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    filter: alpha(opacity=20)
}
.modal-header .modal-title {
    padding-left: 6rem;
    position: relative;
    min-height: 44px;
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    margin: 0
}
.modal-header .modal-title span {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    font-size: 23px;
    text-align: center;
    line-height: 44px;
    color: #35c0c5;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background-color: #fff
}
.media:first-child {
    margin-top: 0
}
.btn-outline-red {
    background: #fff;
    color: #35c0c5 !important;
    font-size: 17px;
    line-height: normal;
    padding: 10px 15px;
    border-radius: 0.5rem;
    border: 1px solid #35c0c5;
    text-align: center;
    margin-top: 1.5rem
}
.btn-red {
    background: #35c0c5;
    color: #fff !important;
    font-size: 17px;
    line-height: normal;
    padding: 10px 15px;
    border-radius: 0.5rem;
    border: none;
    text-align: center;
    margin-top: 1.5rem
}
.media .media-left {
    padding-right: 1rem
}
.media-left,
.media-right,
.media-body {
    display: table-cell;
    vertical-align: top
}
.media .thumb-1x1 {
    width: 7.7rem
}
.wrap-menu .container {
    position: static
}
.main-menu {
    position: static
}
.mega-content {
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
    left: 0;
    padding: 40px 0 50px;
    opacity: 0;
    display: block;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transform: translate(0, 60px);
    -moz-transform: translate(0, 60px);
    -o-transform: translate(0, 60px);
    -ms-transform: translate(0, 60px);
    transform: translate(0, 60px)
}
.mega-content .fa {
    display: none !important
}
.mega-content ul.level0 {
    margin: 0;
    padding: 0;
    list-style: none
}
.mega-content li.level1 {
    width: 16.6666%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    position: relative
}
.mega-content li.level1:before {
    position: absolute;
    content: "";
    width: 1px;
    height: calc(100% - 14px);
    background: #464646;
    left: 0;
    top: 8px
}
.mega-content li.level1 ul {
    padding: 0;
    list-style: none;
    margin: 15px 0 0
}
.mega-content li.level1 a {
    color: #fff;
    font-size: 14px;
    line-height: 1.1;
    padding: 5px 0;
    display: block
}
.mega-content li.level1 a:hover {
    color: #35c0c5
}
.mega-content li.level1 .h4 a {
    color: #35c0c5;
    text-transform: uppercase
}
.mega-content li.level1 .h4 a:hover {
    color: #fff
}
.nav-main ul.navbar-nav-style .nav-item:hover .mega-content {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0)
}
.nav-main ul.navbar-nav-style .nav-item.has-mega {
    position: static
}
.nav-main ul.navbar-nav-style .nav-item .dropdown-menu {
    background: rgba(0, 0, 0, 0.8)
}
.product-box .iwishAddChild ~ .iwishAddChild {
    display: none
}
.product-box img.iWishImg {
    display: none !important
}
.product-box .iWishImg {
    display: none
}
.product-box span.iwishAddChild.iwishAddBorder:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f004';
    font-size: 13px
}
.product-box a.iWishAdded.iwishAddWrapper {
    margin: 0;
    width: 33px;
    height: 35px;
    line-height: 35px;
    color: #35c0c5;
    background: #fff;
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px)
}
.product-box a.iWishAdded.iwishAddWrapper span.iwishAddChild.iwishAddBorder:before {
    color: #35c0c5
}
.product-box span.iwishAddChild.iwishAddBorder {
    padding: 0;
    border: 0
}
.product-box a.iWishAdd.iwishAddWrapper {
    margin: 0;
    width: 33px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    background: #a1a1a1;
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px)
}
.product-box .add_to_cart {
    background: #fff !important;
    font-size: 13px;
    padding-left: 18px;
    padding-right: 18px
}
.product-box a.iWishAdd.iwishAddWrapper:hover {
    background: #35c0c5
}
.product-box .btn-style {
    margin: 10px 0px;
    height: 35px;
    border: 1px solid #ebebeb !important;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 34px
}
.product-box .btn-style:hover {
    border: 1px solid #35c0c5 !important;
    background: #35c0c5 !important
}
a.btn.btn-style.quick-view {
    min-width: auto;
    background: #a1a1a1;
    padding: 0;
    width: 33px;
    height: 35px;
    line-height: 33px;
    font-size: 15px;
    color: #fff;
    border: 0 !important
}
ul#cart-sidebar {
    padding: 15px 24px 0 24px;
    margin: 0px;
    max-height: auto;
    overflow-y: auto
}
ul#cart-sidebar ul.list-item-cart {
    padding: 0;
    max-height: 390px;
    overflow-y: auto
}
.mini-cart .fa-times-circle {
    position: absolute;
    right: 5px;
    top: 2px;
    color: #a1a1a1
}
.top-cart-content .product-name {
    margin: 0;
    width: 150px;
    line-height: 1;
    padding: 0 20px 5px 0
}
.mini-products-list .detail-item .product-details-bottom .price {
    color: #35c0c5;
    font-size: 14px;
    display: list-item;
    margin-bottom: 5px
}
.mini-products-list .detail-item label {
    font-style: italic;
    color: #898989;
    font-size: 12px
}
.top-cart-content {
    display: none;
    width: 375px
}
.top-subtotal {
    padding: 12px 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 17px
}
.top-subtotal .price {
    color: #35c0c5;
    float: right
}
.top-cart-content .actions {
    padding: 0;
    background: none;
    padding-bottom: 20px
}
.mini-cart .actions .btn-checkout:before {
    display: none
}
.mini-cart .actions .btn-checkout {
    background: #35c0c5;
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: 14px
}
a:focus,
a:hover {
    text-decoration: none;
    color: #35c0c5
}
button,
input,
select,
textarea {
    outline: none !important
}
.qwp-vendor {
    font-weight: 700
}
p.qv-contact {
    margin-top: 10px
}
p.qv-contact a {
    color: #35c0c5
}
.errors {
    color: red
}
span.required {
    color: red
}
.form-product a.iWishAdd.iwishAddWrapper {
    display: block;
    float: left;
    clear: left
}
.hidden {
    display: none !important
}
button.btn.btn-lg.btn-style.btn-style-active.btn-cart.add_to_cart {
    line-height: 44px;
    height: 45px
}
.tag-product {
    clear: left
}
.sort-by-script {
    font-size: 13px
}
.button-view-mode {
    cursor: pointer
}
.iwishAddChild {
    color: #35c0c5
}
.nav-main ul.navbar-nav-style .nav-item .fa.fixfa:before {
    top: 12px;
    right: 20px;
    position: absolute;
    color: #DDD
}
.nav-main ul.navbar-nav-style .nav-item:hover>.dropdown-menu>.fa {
    display: none
}
.product-box span.iwishAddChild.iwishAddBorder {
    padding: 0;
    border: 0;
    color: #fff
}
.nav-main ul.navbar-nav-style .nav-item .nav-item .fa {
    display: none
}
.nav-main ul.navbar-nav-style .nav-item .nav-item.haschild .fa {
    display: block
}
@media (max-width: 991px) {
    .top-cart-content {
        display: none !important
    }
    .nav-main ul.navbar-nav-style .nav-item .nav-link {
        color: #333
    }
    .nav-main ul.navbar-nav-style .nav-item.has-mega {
        position: relative
    }
    .nav-main ul.navbar-nav-style .nav-item .dropdown-menu {
        background: #fff
    }
    .navbar-nav-style {
        margin-bottom: 20px
    }
}
@media (max-width: 767px) {
    section.header {
        position: relative
    }
    section.header .container,
    section.header .col-xs-12 {
        position: static
    }
    ul.content-header {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%)
    }
    ul.content-header li {
        margin: 0 !important
    }
}
@media (max-width: 320px) {
    .logo img {
        width: 140px;
        height: auto
    }
    .logo {
        margin: 0px;
        margin-top: 5px
    }
    .header {
        padding-top: 14px
    }
    ul.content-header li .fa {
        margin-right: 5px;
        color: #35c0c5
    }
}
span.cart-popup-name>a {
    color: #35c0c5 !important
}
.title-quantity-popup {
    cursor: pointer
}
.dr-content {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
    padding: 9px 10px 8px;
    background: #fff;
    border: 1px solid #ebebeb
}
.dr-wishlist {
    position: relative
}
.dr-wishlist:hover .dr-content {
    display: block
}
.dr-wishlist:hover .dr-content a {
    color: #333 !important
}
.dr-wishlist:hover .dr-content a:hover {
    color: #35c0c5 !important
}
@media (max-width: 543px) {
    ul.content-header li .align-items a {
        font-size: 15px
    }
    ul.content-header li .align-items a .fa {
        font-size: 16px
    }
    ul.content-header li .align-items a .fa.fa-heart {
        font-size: 13px !important
    }
}
@media (max-width: 320px) {
    .product-box .btn-style {
        min-width: 90px
    }
    .product-box .btn-style {
        padding: 0px
    }
}
.bg-scroll {
    border-top: none;
    margin-top: 20px;
    overflow: hidden;
    border: solid 1px #ebebeb;
    border-top: none;
    border-bottom: none;
    border-right: none
}
.cart-thead {
    background: #ebebeb;
    font-weight: bold;
    font-size: 13px;
    clear: both;
    width: 100%;
    border: 1px solid #ddd;
    border-right: none;
    float: left;
    min-width: 600px
}
.cart-thead div {
    float: left;
    padding: 27px 0px;
    color: #000;
    text-align: center;
    border-right: #dddddd 1px solid;
    font-size: 13px
}
.nobr {
    white-space: nowrap
}
.cart div.a-right {
    text-align: right
}
.cart div.a-center {
    text-align: center
}
.cart-tbody {
    width: 100%;
    float: left
}
.cart-tbody .item-cart {
    border-bottom: 1px solid #eaeaea;
    width: 100%;
    float: left
}
.item-cart .image .product-image {
    width: 100%
}
.cart-tbody .item-cart div {
    float: left;
    padding: 20px 10px 6px;
    line-height: 20px;
    vertical-align: top;
    border-right: solid thin #ddd;
    height: 135px;
    overflow: hidden
}
.cart-tbody .item-cart div:nth-child(6) {
    padding: 10px 0 6px;
    position: relative
}
.bg-scroll .cart-tbody .item-cart div a.remove-item {
    background-color: #fff;
    background-image: url("//bizweb.dktcdn.net/100/091/133/themes/226253/assets/bin.png?1487902650108");
    width: 22px;
    height: 26px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
.cart-tbody .item-cart .product-image {
    min-height: 75px;
    display: block;
    height: auto;
    width: 100%;
    padding: 0 20px
}
@media (max-width: 991px) {
    .cart-tbody .item-cart .product-image {
        padding: 0
    }
}
.cart-tbody .item-cart div .product-name {
    margin: 0px;
    padding-bottom: 0px;
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
    margin-top: 10%
}
.cart-tbody .item-cart div .input_qty_pr {
    height: auto;
    border-right: none;
    width: 100%;
    margin-top: 15px;
    padding: 20px 0px 0px 0px
}
.cart .product-name a {
    font-size: 14px
}
.item-cart .input_qty_pr .items-count {
    border: 1px solid #ddd;
    outline: none;
    background: #fff;
    height: 24px;
    width: 24px;
    vertical-align: baseline;
    text-align: center;
    padding: 0
}
.variant-title {
    color: #686868
}
.cart-tbody .item-cart div .price {
    font-size: 16px;
    font-weight: bold;
    line-height: 6;
    color: #35c0c5
}
.item-cart .items-count {
    border: 1px solid #ddd;
    outline: none;
    background: #fff;
    height: 24px;
    width: 21px;
    vertical-align: top;
    text-align: center;
    padding: 0
}
.item-cart .number-sidebar {
    border: 1px solid #ddd;
    height: 24px;
    margin-left: -1px;
    text-align: center;
    width: 23px;
    margin-right: -1px;
    padding: 0;
    line-height: 15px
}
.cart-tbody .item-cart div a.remove-item {
    background-color: #fff;
    background-image: none;
    color: #333;
    cursor: pointer;
    padding: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    cursor: pointer;
    text-decoration: none;
    float: left;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    border: none
}
.cart-tbody .item-cart div a.remove-item span {
    display: none
}
@media screen and (max-width: 767px) {
    .select-item-qty-mobile .txt_center input {
        height: 25px;
        width: 25px;
        text-align: center;
        margin: 0px;
        padding: 0;
        position: absolute;
        left: 22px;
        min-height: 0;
        border: none;
        border: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        background: #fff !important;
        box-shadow: none !important;
        border-radius: 0 !important;
        z-index: 100
    }
    .item-product .title-product-cart-mobile {
        max-width: 150px
    }
    .title-product-cart-mobile h3 {
        line-height: 1;
        margin-top: 0
    }
    .main-cart-page {
        min-height: auto !important
    }
    .select-item-qty-mobile .txt_center button.reduced.items-count.btn-minus {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;
        margin: 0;
        line-height: 1;
        height: 25px;
        padding: 0;
        width: 24px;
        border-style: hidden;
        background: none !important;
        color: #000;
        border: solid thin #ddd
    }
    .select-item-qty-mobile .txt_center button.increase.items-count.btn-plus {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        width: 24px;
        height: 25px;
        display: inline-block;
        line-height: 1;
        border-style: hidden;
        color: #fff;
        padding: 0;
        background: none !important;
        color: #000;
        border: solid thin #ddd
    }
    .select-item-qty-mobile>div {
        position: relative;
        width: 68px;
        height: 25px
    }
}
@media screen and (max-width: 375px) {
    .item-product .title-product-cart-mobile {
        max-width: 110px !important
    }
}
.btn-proceed-checkout {
    width: 100%;
    background: #35c0c5;
    line-height: 35px;
    color: #fff;
    height: 50px;
    font-size: 16px;
    border: none
}
.totals .inner {
    padding: 4px 0 15px;
    margin-top: 0
}
#shopping-cart-totals-table tr td {
    border: #ebebeb thin solid
}
#shopping-cart-totals-table {
    float: right;
    width: 100%;
    padding-bottom: 8px;
    margin-top: 20px;
    background: #fff
}
.cart .totals table th,
.cart .totals table td {
    padding: 10px;
    background: none !important;
    box-shadow: none !important;
    color: #333 !important;
    height: 50px;
    vertical-align: middle
}
span.totals_price.price {
    color: #35c0c5;
    font-size: 16px
}
.cart-tbody .item-cart .input_qty_pr .items-count {
    border: 1px solid #ddd;
    outline: none;
    background: #fff;
    height: 24px;
    width: 24px;
    vertical-align: baseline;
    text-align: center;
    padding: 0;
    display: inline-block;
    margin: 0
}
@media (max-width: 767px) {
    .item-product .title-product-cart-mobile {
        max-width: 150px
    }
    .sign_main {
        background: #f7f8f9;
        margin-top: 40px
    }
    .main {
        border-bottom: solid 1px #ebebeb;
        background: #fff;
        margin-top: 40px
    }
    .main-container {
        margin-top: -40px
    }
    .cart-mobile {
        padding: 10px 0px 0px 0px
    }
    .header-cart {
        padding: 10px 15px 0px;
        border-bottom: solid 1px #ebebeb;
        margin-top: -10px
    }
    .header-cart-content {
        margin-top: 10px
    }
    .header-cart-content .content-product-list {
        min-height: 110px
    }
    .header-cart .title-cart {
        line-height: 10px
    }
    .header-cart-price {
        padding: 18px 15px
    }
    .title-cart h3 {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase
    }
    .title-cart p {
        font-family: Arial, sans-serif;
        font-size: 12px;
        color: #9c9c9c
    }
    .title-cart a {
        float: right;
        margin-top: -28px;
        color: #35c0c5;
        font-size: 16px;
        line-height: 27px;
        font-family: Arial, sans-serif
    }
    .btn-proceed-checkout-mobile {
        width: 100%;
        line-height: 27px;
        color: #fff;
        height: 40px;
        font-size: 14px;
        border: none;
        background: #35c0c5
    }
    .content-product-list .item-product {
        padding: 15px 15px;
        min-height: 110px;
        border-bottom: solid 1px #ebebeb;
        overflow: hidden
    }
    .item-product-cart-mobile,
    .title-product-cart-mobile,
    .select-item-qty-mobile {
        float: left
    }
    .item-product-cart-mobile {
        max-width: 115px;
        margin-right: 10px
    }
    .item-product-cart-mobile img {
        max-width: 115px;
        margin-right: 10px;
        height: auto
    }
    .select-item-qty-mobile {
        float: right;
        text-align: center
    }
    .title-product-cart-mobile a {
        word-break: break-word;
        font-family: Arial, sans-serif;
        font-size: 14px;
        color: #363636
    }
    .select-item-qty-mobile input.qty {
        background: none repeat scroll 0 0 #fff;
        border: 1px solid #ebebeb;
        font-size: 15px;
        font-weight: 400;
        margin: 0 !important;
        outline: medium none;
        padding: 5px 5px 5px 12px;
        width: 41px
    }
    .title-product-cart-mobile p {
        line-height: 2;
        font-size: 14px;
        font-family: Arial, sans-serif;
        color: #898989
    }
    .title-product-cart-mobile span {
        color: #35c0c5
    }
    .select-item-qty-mobile a {
        line-height: 3;
        color: #363636;
        font-family: 'Open Sans', sans-serif
    }
}
.cart-popup-name a,
.add_sus i {
    color: #35c0c5 !important
}
.jssocials-share {
    line-height: 45px
}
span.cartCount.cart-popup-count.mobile-count {
    display: none
}
@media (max-width: 1199px) {
    span.cartCount.cart-popup-count.mobile-count {
        color: #fff;
        font-size: 15px;
        position: absolute;
        min-width: 16px;
        top: -17px;
        right: 1px;
        display: block;
        text-align: center
    }
}
ul.checkout {
    list-style: none;
    padding: 0
}
.cart-tbody .item-cart div .input_qty_pr {
    padding-right: 20px
}
.cart-tbody button.reduced_pop.items-count.btn-minus {
    border-left: 0 !important
}
.cart-tbody .item-cart .number-sidebar {
    min-height: 0;
    position: static;
    display: inline-block;
    float: none;
    width: 49px;
    margin-bottom: 0;
    padding-left: 23px
}
.cart_page_mobile button.increase.items-count.btn-plus {
    border: 1px solid #ebebeb !important
}
.cart_page_mobile button.reduced.items-count.btn-minus {
    border: 1px solid #ebebeb !important
}
.cart .product-name a {
    color: #333
}
section.main-cart-page.main-container.col1-layout {
    min-height: 200px
}
section.main-cart-page.main-container.col1-layout .cart_desktop_page>p {
    margin-top: 20px
}
.cart {
    margin-bottom: 30px
}
img#zoom_01 {
    width: 100%;
    height: auto;
    margin-bottom: 20px
}
#quick-view-product {
    bottom: 0;
    left: 0;
    overflow-x: auto;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0 !important;
    z-index: 9999
}
#quick-view-product .product-info {
    color: #222;
    font-weight: 300
}
#quick-view-product .brand {
    color: #222
}
#quick-view-product .available {
    margin: 0;
    font-weight: 400;
    color: #72C13D
}
#quick-view-product .available.outstock {
    color: #E55E5E
}
#quick-view-product .qwp-name {
    margin: 10px 0;
    font-size: em(24px);
    font-weight: 400;
    line-height: 32px;
    color: #333
}
#quick-view-product .image-block {
    width: 100%
}
#quick-view-product .view_full_size {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: block
}
#quick-view-product a.img-product {
    display: block;
    width: 100%
}
.product-featured-image-quickview {
    border: 1px solid #ebebeb;
    margin-bottom: 10px;
    display: block;
    width: 100%
}
.quantity_wanted_p {
    border-top: 1px solid #ebebeb;
    padding-top: 20px
}
.qvariants {
    padding-top: 20px;
    border-top: 1px solid #ebebeb
}
#quick-view-product ul {
    list-style: none
}
#quick-view-product form {
    margin-top: 25px
}
#quick-view-product form label {
    display: inline-block;
    width: 90px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    float: left
}
#quick-view-product form select {
    width: 150px;
    display: inline-block;
    height: 40px;
    float: left;
    margin-right: 20px;
    border-color: #ebebeb
}
#quick-view-product .price {
    color: #35c0c5;
    font-size: em(22px);
    font-weight: 700
}
#quick-view-product del {
    font-size: em(16px);
    color: #a2a2a2;
    margin-left: 5px;
    display: inline-block
}
#quick-view-product #usefull_link_block {
    margin: 10px 0
}
#quick-view-product #usefull_link_block li a {
    color: #222;
    line-height: 17px
}
#quick-view-product .fancybox-overlay {
    display: block !important;
    height: 100vh;
    background: none;
    z-index: 100
}
#quick-view-product .quick-view-product {
    position: absolute;
    width: 890px;
    top: 5%;
    height: auto;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 30px;
    background-color: #fff;
    z-index: 8011
}
#quick-view-product .prices {
    display: inline-block;
    margin-bottom: 15px
}
#quick-view-product .product-right-column .price-product-detail {
    margin: 0;
    line-height: 33px
}
#quick-view-product #quantity-detail {
    line-height: 39px;
    margin: 0;
    display: inline-block;
    width: 115px;
    border-color: #ebebeb;
    box-shadow: none;
    border: 1px solid #ebebeb;
    text-align: center;
    padding-left: 10px;
    height: 40px
}
#quick-view-product .total-price {
    float: left;
    width: 100%;
    display: block;
    margin-top: 15px
}
#quick-view-product .total-price span {
    font-family: Roboto;
    font-size: em(15px);
    font-weight: 400;
    color: #222
}
#quick-view-product .more-view-wrapper {
    overflow: hidden
}
#quick-view-product .product-right-column .quantity_wanted_p {
    width: 100%;
    margin-top: 15px
}
#quick-view-product .product-right-column .add_to_cart_detail {
    margin: 15px 10px 15px 0;
    width: 100%
}
#quick-view-product .product-right-column .add_to_cart_detail.disabled {
    padding: 0 20px
}
#quick-view-product .product-right-column .btn-wishlist {
    margin-top: 15px
}
#quick-view-product .swatch {
    margin: 20px 0 0
}
#quick-view-product .swatch .swatch-element {
    margin: 6px 6px 0 0
}
#quick-view-product .view_full_size {
    position: relative
}
#quick-view-product .loading-imgquickview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(loading.gif) center center no-repeat
}
#quick-view-product .availability,
#quick-view-product .product-sku {
    line-height: 28px
}
#thumbs_list_quickview {
    text-align: center;
    position: relative;
    margin-top: 6px
}
#thumblist_quickview {
    position: relative;
    padding: 0
}
#thumblist_quickview #thumblist {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    position: static
}
#thumblist_quickview .owl-row {
    margin-left: -3px;
    margin-right: -3px
}
#thumblist_quickview .owl-item {
    float: left
}
#thumblist_quickview .owl-item a {
    display: block
}
#thumblist_quickview .owl-item img {
    max-width: 100%
}
#thumblist_quickview .thumb_item {
    border: 1px solid #e6e6e6
}
#thumblist_quickview .owl-next,
#thumblist_quickview .owl-prev {
    width: 16px;
    height: 16px;
    margin-top: -8px
}
#thumblist_quickview .owl-next:before,
#thumblist_quickview .owl-prev:before {
    border: 1px solid #b6b6b6;
    border-radius: 100%;
    font-size: em(10px);
    line-height: 12px;
    height: 16px;
    color: #000;
    text-shadow: none
}
#thumblist_quickview .owl-next:hover:before,
#thumblist_quickview .owl-prev:hover:before {
    background: #222;
    color: #fff
}
@media (max-width: 1199px) {
    #quick-view-product,
    .quickview {
        display: none !important
    }
}
.fancybox-close {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 8040;
    color: #fff;
    text-align: center;
    background: #333;
    line-height: 25px;
    border-radius: 50%
}
.quickview-info {
    margin-bottom: 20px;
    border-top: 1px solid #ebebeb;
    padding-top: 20px
}
.quickview-product .product-single h1 a,
.quickview-product .product-single .h1 a {
    font-size: em(20px)
}
.quickview-product .product-single .price {
    font-size: em(26px)
}
.quickview-product .content {
    padding: 30px
}
.quickview-product .product-name {
    margin: 0 0 10px !important
}
.quickview-product .review {
    margin-bottom: 10px
}
.quickview-product .review:before {
    content: " ";
    display: table
}
.quickview-product .review:after {
    content: " ";
    display: table;
    clear: both
}
.quickview-product .review .spr-badge {
    float: left;
    height: 24px;
    overflow: hidden;
    position: relative;
    margin-bottom: 0
}
.quickview-product .review .spr-badge .spr-icon {
    margin: 0
}
.quickview-product .review .spr-badge .spr-active {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden
}
.quickview-product .review .spr-badge .spr-badge-caption {
    float: left;
    margin: 0 0 9px
}
.quickview-product span.available {
    display: none
}
.quickview-product span.available.active {
    display: block
}
.quickview-product .product-description {
    padding-bottom: 20px
}
.quickview-product .product-actions {
    border: none;
    padding: 0;
    margin: 0
}
.quickview-product .product-actions .btn-addToCart {
    clear: none;
    margin: 0
}
.quickview-product .product-media {
    position: relative;
    min-width: 400px
}
.quickview-product .product-media:before {
    content: " ";
    display: table
}
.quickview-product .product-media:after {
    content: " ";
    display: table;
    clear: both
}
.quickview-product .more-views {
    width: 80px;
    margin: 0;
    height: calc(100% - 60px);
    min-height: 361px;
    position: absolute;
    top: 30px;
    left: 0;
    overflow: hidden
}
.quickview-product .more-views a {
    display: block;
    overflow: hidden;
    height: 100%
}
.quickview-product .more-views img {
    display: block;
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}
.quickview-product .featured-image {
    float: right;
    width: calc(100% - 100px);
    margin: 0
}
.quickview-product form {
    margin: 0
}
.quickview-product .product-actions .product-single-quantity {
    margin-bottom: 0
}
.quickview-product .product-single .product-description {
    margin: 0 0 25px
}
.quickview-product .product-options {
    margin: 0 0 25px;
    padding: 0 0 25px
}
.quickview-product .details {
    margin: 0 0 8px
}
button.btn.btn-primary.add_to_cart_detail.ajax_addtocart {
    border-radius: 0;
    width: 260px;
    margin-left: 2px;
    transform: translateY(-1px);
    transform: -moz-translateY(-1px);
    transform: -webkit-translateY(-1px);
    background: #35c0c5;
    border-color: #35c0c5
}
a.close-window {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 20px;
    color: #35c0c5
}
#popup-cart-desktop {
    width: 800px;
    background: #fff;
    float: none;
    margin: 0 auto;
    padding: 40px;
    padding-bottom: 20px;
    position: relative
}
#popup-cart-desktop .title-popup-cart {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    padding-right: 15px
}
#popup-cart-desktop .title-popup-cart i {
    color: #35c0c5
}
#popup-cart-desktop .title-popup-cart i.check {
    border: 2px solid #35c0c5;
    font-size: 14px;
    padding: 6px;
    border-radius: 50%
}
#popup-cart-desktop .title-quantity-popup {
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase
}
#popup-cart-desktop .title-quantity-popup .fa-shopping-cart {
    color: #35c0c5;
    font-size: 25px
}
#popup-cart-desktop .title-quantity-popup .fa-caret-right {
    font-size: 14px
}
#popup-cart-desktop .item-remove {
    height: 0;
    margin: 0
}
#popup-cart-desktop .item-name {
    margin-bottom: 0
}
#popup-cart-desktop .content-popup-cart .thead-popup {
    float: left;
    width: 100%;
    clear: both;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    font-weight: 700
}
#popup-cart-desktop .content-popup-cart .thead-popup>div {
    float: left;
    padding: 6px 10px;
    font-size: 14px;
    padding-left: 0;
    border-left: 2px solid #fff
}
#popup-cart-desktop .content-popup-cart .thead-popup>div:first-child {
    border-left: none
}
#popup-cart-desktop .content-popup-cart .tbody-popup {
    width: 100%;
    float: left;
    clear: both;
    max-height: 280px;
    overflow-x: auto;
    border-top: none
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup {
    width: 100%;
    float: left;
    clear: both;
    border-bottom: 1px solid #ebebeb;
    position: relative;
    height: 140px;
    overflow: hidden
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup>div {
    float: left;
    position: relative;
    height: 100%
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup>div:nth-child(3) {
    position: relative
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup>div .fixab {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%)
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-image {
    padding: 10px;
    padding-left: 40px;
    float: left;
    margin-top: 5px;
    min-height: 100px
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-image img {
    border: 1px solid #d2d2d2
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info {
    padding: 10px 0;
    margin-top: 49px
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info span.add_sus {
    font-size: 14px;
    color: #35c0c5 !important;
    font-style: italic
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info span.add_sus i {
    color: #35c0c5 !important
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .item-name a {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .item-name a:hover {
    color: #35c0c5
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .variant-title-popup {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333333
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .item-remove a {
    font-size: 0;
    color: #888;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%)
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .item-remove a i {
    font-size: 14px;
    border: 2px solid #636363;
    border-radius: 50%;
    padding: 3px 5px;
    color: #636363;
    text-align: center
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-price {
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%)
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-price span {
    display: block
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-price .price {
    color: #35c0c5;
    font-size: 14px;
    font-weight: 500
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-price .compare-price {
    color: #35c0c5;
    font-size: 13px;
    text-decoration: line-through;
    font-weight: 500
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-price .compare-divide {
    font-size: 12px;
    color: #d71515
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .items-count {
    border: 1px solid #ddd;
    outline: none;
    background: #fff;
    height: 22px;
    width: 23px;
    text-align: center;
    vertical-align: top;
    padding: 0
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .items-count .fa {
    font-size: 15px;
    color: #333
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .number-sidebar {
    border: 1px solid #ddd;
    height: 40px;
    margin-left: -1px;
    text-align: left;
    padding-left: 20px;
    font-size: 14px;
    width: 100px;
    vertical-align: top;
    margin-right: -1px;
    display: inline-block;
    min-height: 24px
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .cart-price {
    display: block;
    font-weight: 500;
    padding: 10px;
    font-size: 13px;
    position: absolute;
    color: #35c0c5;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%)
}
#popup-cart-desktop .content-popup-cart .tfoot-popup {
    width: 100%;
    float: left;
    clear: both
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 {
    padding: 10px 0
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-ship {
    font-size: 13px;
    width: 320px
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-ship img {
    float: left;
    margin-right: 10px
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-ship p {
    line-height: 20px;
    margin-top: 10px;
    text-transform: uppercase
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-total p {
    font-size: 15px;
    font-weight: bold;
    padding: 15px 0;
    padding-bottom: 0
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-total p .total-price {
    color: #35c0c5
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-2 a {
    cursor: pointer
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-2 .button.btn-continue {
    margin: 10px;
    background: transparent;
    font-size: 13px;
    float: left;
    border: none;
    outline: none;
    color: #35c0c5;
    margin-top: -25px;
    margin-left: 0
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-2 .button.btn-proceed-checkout {
    background: #35c0c5;
    font-size: 15px;
    float: right;
    display: block;
    padding: 6px 10px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 10px;
    height: 50px;
    width: 240px;
    text-align: center;
    line-height: 50px;
    padding: 0;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 0;
    font-weight: 400
}
button.increase.items-count.btn-plus {
    position: absolute;
    line-height: 30px;
    right: 7px;
    top: 1px;
    margin: 0;
    border: none !important
}
button.reduced.items-count.btn-minus {
    position: absolute;
    right: 7px;
    border: none !important;
    bottom: 1px;
    margin: 0
}
.fancybox-skin {
    background: #fff !important
}
.modal-content {
    border: none;
    box-shadow: none;
    border-radius: 0.5rem;
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0
}
.modal-header {
    background-color: #35c0c5;
    color: #fff;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px
}
.modal-body {
    position: relative;
    padding: 15px
}
.modal-header .close {
    margin-top: -2px;
    opacity: 1 !important
}
.modal-header .close span {
    color: #fff
}
button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    filter: alpha(opacity=20)
}
.modal-header .modal-title {
    padding-left: 6rem;
    position: relative;
    min-height: 44px;
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    margin: 0
}
.modal-header .modal-title span {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    font-size: 23px;
    text-align: center;
    line-height: 44px;
    color: #35c0c5;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background-color: #fff
}
.media:first-child {
    margin-top: 0
}
.btn-outline-red {
    background: #fff;
    color: #35c0c5 !important;
    font-size: 17px;
    line-height: normal;
    padding: 10px 15px;
    border-radius: 0.5rem;
    border: 1px solid #35c0c5;
    text-align: center;
    margin-top: 1.5rem
}
.btn-red {
    background: #35c0c5;
    color: #fff !important;
    font-size: 17px;
    line-height: normal;
    padding: 10px 15px;
    border-radius: 0.5rem;
    border: none;
    text-align: center;
    margin-top: 1.5rem
}
.media .media-left {
    padding-right: 1rem
}
.media-left,
.media-right,
.media-body {
    display: table-cell;
    vertical-align: top
}
.media .thumb-1x1 {
    width: 7.7rem
}
.wrap-menu .container {
    position: static
}
.main-menu {
    position: static
}
.mega-content {
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
    left: 0;
    padding: 40px 0 50px;
    opacity: 0;
    display: block;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transform: translate(0, 60px);
    -moz-transform: translate(0, 60px);
    -o-transform: translate(0, 60px);
    -ms-transform: translate(0, 60px);
    transform: translate(0, 60px)
}
.mega-content .fa {
    display: none !important
}
.mega-content ul.level0 {
    margin: 0;
    padding: 0;
    list-style: none
}
.mega-content li.level1 {
    width: 16.6666%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    position: relative
}
.mega-content li.level1:before {
    position: absolute;
    content: "";
    width: 1px;
    height: calc(100% - 14px);
    background: #464646;
    left: 0;
    top: 8px
}
.mega-content li.level1 ul {
    padding: 0;
    list-style: none;
    margin: 15px 0 0
}
.mega-content li.level1 a {
    color: #fff;
    font-size: 14px;
    line-height: 1.1;
    padding: 5px 0;
    display: block
}
.mega-content li.level1 a:hover {
    color: #35c0c5
}
.mega-content li.level1 .h4 a {
    color: #35c0c5;
    text-transform: uppercase
}
.mega-content li.level1 .h4 a:hover {
    color: #fff
}
.nav-main ul.navbar-nav-style .nav-item:hover .mega-content {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0)
}
.nav-main ul.navbar-nav-style .nav-item.has-mega {
    position: static
}
.nav-main ul.navbar-nav-style .nav-item .dropdown-menu {
    background: rgba(0, 0, 0, 0.8)
}
.product-box .iwishAddChild ~ .iwishAddChild {
    display: none
}
.product-box img.iWishImg {
    display: none !important
}
.product-box .iWishImg {
    display: none
}
.product-box span.iwishAddChild.iwishAddBorder:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f004';
    font-size: 13px
}
.product-box a.iWishAdded.iwishAddWrapper {
    margin: 0;
    width: 33px;
    height: 35px;
    line-height: 35px;
    color: #35c0c5;
    background: #fff;
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px)
}
.product-box a.iWishAdded.iwishAddWrapper span.iwishAddChild.iwishAddBorder:before {
    color: #35c0c5
}
.product-box span.iwishAddChild.iwishAddBorder {
    padding: 0;
    border: 0
}
.product-box a.iWishAdd.iwishAddWrapper {
    margin: 0;
    width: 33px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    background: #a1a1a1;
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px)
}
.product-box .add_to_cart {
    background: #fff !important;
    font-size: 13px;
    padding-left: 18px;
    padding-right: 18px
}
.product-box a.iWishAdd.iwishAddWrapper:hover {
    background: #35c0c5
}
.product-box .btn-style {
    margin: 10px 0px;
    height: 35px;
    border: 1px solid #ebebeb !important;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 34px
}
.product-box .btn-style:hover {
    border: 1px solid #35c0c5 !important;
    background: #35c0c5 !important
}
a.btn.btn-style.quick-view {
    min-width: auto;
    background: #a1a1a1;
    padding: 0;
    width: 33px;
    height: 35px;
    line-height: 33px;
    font-size: 15px;
    color: #fff;
    border: 0 !important
}
ul#cart-sidebar {
    padding: 15px 24px 0 24px;
    margin: 0px;
    max-height: auto;
    overflow-y: auto
}
ul#cart-sidebar ul.list-item-cart {
    padding: 0;
    max-height: 390px;
    overflow-y: auto
}
.mini-cart .fa-times-circle {
    position: absolute;
    right: 5px;
    top: 2px;
    color: #a1a1a1
}
.top-cart-content .product-name {
    margin: 0;
    width: 150px;
    line-height: 1;
    padding: 0 20px 5px 0
}
.mini-products-list .detail-item .product-details-bottom .price {
    color: #35c0c5;
    font-size: 14px;
    display: list-item;
    margin-bottom: 5px
}
.mini-products-list .detail-item label {
    font-style: italic;
    color: #898989;
    font-size: 12px
}
.top-cart-content {
    display: none;
    width: 375px
}
.top-subtotal {
    padding: 12px 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 17px
}
.top-subtotal .price {
    color: #35c0c5;
    float: right
}
.top-cart-content .actions {
    padding: 0;
    background: none;
    padding-bottom: 20px
}
.mini-cart .actions .btn-checkout:before {
    display: none
}
.mini-cart .actions .btn-checkout {
    background: #35c0c5;
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: 14px
}
a:focus,
a:hover {
    text-decoration: none;
    color: #35c0c5
}
button,
input,
select,
textarea {
    outline: none !important
}
.qwp-vendor {
    font-weight: 700
}
p.qv-contact {
    margin-top: 10px
}
p.qv-contact a {
    color: #35c0c5
}
.errors {
    color: red
}
span.required {
    color: red
}
.form-product a.iWishAdd.iwishAddWrapper {
    display: block;
    float: left;
    clear: left
}
.hidden {
    display: none !important
}
button.btn.btn-lg.btn-style.btn-style-active.btn-cart.add_to_cart {
    line-height: 44px;
    height: 45px
}
.tag-product {
    clear: left
}
.sort-by-script {
    font-size: 13px
}
.button-view-mode {
    cursor: pointer
}
.iwishAddChild {
    color: #35c0c5
}
.nav-main ul.navbar-nav-style .nav-item .fa.fixfa:before {
    top: 12px;
    right: 20px;
    position: absolute;
    color: #DDD
}
.nav-main ul.navbar-nav-style .nav-item:hover>.dropdown-menu>.fa {
    display: none
}
.product-box span.iwishAddChild.iwishAddBorder {
    padding: 0;
    border: 0;
    color: #fff
}
.nav-main ul.navbar-nav-style .nav-item .nav-item .fa {
    display: none
}
.nav-main ul.navbar-nav-style .nav-item .nav-item.haschild .fa {
    display: block
}
@media (max-width: 991px) {
    .top-cart-content {
        display: none !important
    }
    .nav-main ul.navbar-nav-style .nav-item .nav-link {
        color: #333
    }
    .nav-main ul.navbar-nav-style .nav-item.has-mega {
        position: relative
    }
    .nav-main ul.navbar-nav-style .nav-item .dropdown-menu {
        background: #fff
    }
    .navbar-nav-style {
        margin-bottom: 20px
    }
}
@media (max-width: 767px) {
    section.header {
        position: relative
    }
    section.header .container,
    section.header .col-xs-12 {
        position: static
    }
    ul.content-header {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%)
    }
    ul.content-header li {
        margin: 0 !important
    }
}
@media (max-width: 320px) {
    .logo img {
        width: 140px;
        height: auto
    }
    .logo {
        margin: 0px;
        margin-top: 5px
    }
    .header {
        padding-top: 14px
    }
    ul.content-header li .fa {
        margin-right: 5px;
        color: #35c0c5
    }
}
span.cart-popup-name>a {
    color: #35c0c5 !important
}
.title-quantity-popup {
    cursor: pointer
}
.dr-content {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
    padding: 9px 10px 8px;
    background: #fff;
    border: 1px solid #ebebeb
}
.dr-wishlist {
    position: relative
}
.dr-wishlist:hover .dr-content {
    display: block
}
.dr-wishlist:hover .dr-content a {
    color: #333 !important
}
.dr-wishlist:hover .dr-content a:hover {
    color: #35c0c5 !important
}
@media (max-width: 543px) {
    ul.content-header li .align-items a {
         font-size: 15px
    }
    ul.content-header li .align-items a .fa {
        font-size: 16px
    }
    ul.content-header li .align-items a .fa.fa-heart {
        font-size: 13px !important
    }
}
@media (max-width: 320px) {
    .product-box .btn-style {
        min-width: 90px
    }
    .product-box .btn-style {
        padding: 0px
    }
}
.bg-scroll {
    border-top: none;
    margin-top: 20px;
    overflow: hidden;
    border: solid 1px #ebebeb;
    border-top: none;
    border-bottom: none;
    border-right: none
}
.cart-thead {
    background: #ebebeb;
    font-weight: bold;
    font-size: 13px;
    clear: both;
    width: 100%;
    border: 1px solid #ddd;
    border-right: none;
    float: left;
    min-width: 600px
}
.cart-thead div {
    float: left;
    padding: 27px 0px;
    color: #000;
    text-align: center;
    border-right: #dddddd 1px solid;
    font-size: 13px
}
.nobr {
    white-space: nowrap
}
.cart div.a-right {
    text-align: right
}
.cart div.a-center {
    text-align: center
}
.cart-tbody {
    width: 100%;
    float: left
}
.cart-tbody .item-cart {
    border-bottom: 1px solid #eaeaea;
    width: 100%;
    float: left
}
.item-cart .image .product-image {
    width: 100%
}
.cart-tbody .item-cart div {
    float: left;
    padding: 20px 10px 6px;
    line-height: 20px;
    vertical-align: top;
    border-right: solid thin #ddd;
    height: 135px;
    overflow: hidden
}
.cart-tbody .item-cart div:nth-child(6) {
    padding: 10px 0 6px;
    position: relative
}
.bg-scroll .cart-tbody .item-cart div a.remove-item {
    background-color: #fff;
    background-image: url("//bizweb.dktcdn.net/100/091/133/themes/226253/assets/bin.png?1487902650108");
    width: 22px;
    height: 26px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
.cart-tbody .item-cart .product-image {
    min-height: 75px;
    display: block;
    height: auto;
    width: 100%;
    padding: 0 20px
}
@media (max-width: 991px) {
    .cart-tbody .item-cart .product-image {
        padding: 0
    }
}
.cart-tbody .item-cart div .product-name {
    margin: 0px;
    padding-bottom: 0px;
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
    margin-top: 10%
}
.cart-tbody .item-cart div .input_qty_pr {
    height: auto;
    border-right: none;
    width: 100%;
    margin-top: 15px;
    padding: 20px 0px 0px 0px
}
.cart .product-name a {
    font-size: 14px
}
.item-cart .input_qty_pr .items-count {
    border: 1px solid #ddd;
    outline: none;
    background: #fff;
    height: 24px;
    width: 24px;
    vertical-align: baseline;
    text-align: center;
    padding: 0
}
.variant-title {
    color: #686868
}
.cart-tbody .item-cart div .price {
    font-size: 16px;
    font-weight: bold;
    line-height: 6;
    color: #35c0c5
}
.item-cart .items-count {
    border: 1px solid #ddd;
    outline: none;
    background: #fff;
    height: 24px;
    width: 21px;
    vertical-align: top;
    text-align: center;
    padding: 0
}
.item-cart .number-sidebar {
    border: 1px solid #ddd;
    height: 24px;
    margin-left: -1px;
    text-align: center;
    width: 23px;
    margin-right: -1px;
    padding: 0;
    line-height: 15px
}
.cart-tbody .item-cart div a.remove-item {
    background-color: #fff;
    background-image: none;
    color: #333;
    cursor: pointer;
    padding: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    cursor: pointer;
    text-decoration: none;
    float: left;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    border: none
}
.cart-tbody .item-cart div a.remove-item span {
    display: none
}
@media screen and (max-width: 767px) {
    .select-item-qty-mobile .txt_center input {
        height: 25px;
        width: 25px;
        text-align: center;
        margin: 0px;
        padding: 0;
        position: absolute;
        left: 22px;
        min-height: 0;
        border: none;
        border: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        background: #fff !important;
        box-shadow: none !important;
        border-radius: 0 !important;
        z-index: 100
    }
    .item-product .title-product-cart-mobile {
        max-width: 150px
    }
    .title-product-cart-mobile h3 {
        line-height: 1;
        margin-top: 0
    }
    .main-cart-page {
        min-height: auto !important
    }
    .select-item-qty-mobile .txt_center button.reduced.items-count.btn-minus {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;
        margin: 0;
        line-height: 1;
        height: 25px;
        padding: 0;
        width: 24px;
        border-style: hidden;
        background: none !important;
        color: #000;
        border: solid thin #ddd
    }
    .select-item-qty-mobile .txt_center button.increase.items-count.btn-plus {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        width: 24px;
        height: 25px;
        display: inline-block;
        line-height: 1;
        border-style: hidden;
        color: #fff;
        padding: 0;
        background: none !important;
        color: #000;
        border: solid thin #ddd
    }
    .select-item-qty-mobile>div {
        position: relative;
        width: 68px;
        height: 25px
    }
}
@media screen and (max-width: 375px) {
    .item-product .title-product-cart-mobile {
        max-width: 110px !important
    }
}
.btn-proceed-checkout {
    width: 100%;
    background: #35c0c5;
    line-height: 35px;
    color: #fff;
    height: 50px;
    font-size: 16px;
    border: none
}
.totals .inner {
    padding: 4px 0 15px;
    margin-top: 0
}
#shopping-cart-totals-table tr td {
    border: #ebebeb thin solid
}
#shopping-cart-totals-table {
    float: right;
    width: 100%;
    padding-bottom: 8px;
    margin-top: 20px;
    background: #fff
}
.cart .totals table th,
.cart .totals table td {
    padding: 10px;
    background: none !important;
    box-shadow: none !important;
    color: #333 !important;
    height: 50px;
    vertical-align: middle
}
span.totals_price.price {
    color: #35c0c5;
    font-size: 16px
}
.cart-tbody .item-cart .input_qty_pr .items-count {
    border: 1px solid #ddd;
    outline: none;
    background: #fff;
    height: 24px;
    width: 24px;
    vertical-align: baseline;
    text-align: center;
    padding: 0;
    display: inline-block;
    margin: 0
}
@media (max-width: 767px) {
    .item-product .title-product-cart-mobile {
        max-width: 150px
    }
    .sign_main {
        background: #f7f8f9;
        margin-top: 40px
    }
    .main {
        border-bottom: solid 1px #ebebeb;
        background: #fff;
        margin-top: 40px
    }
    .main-container {
        margin-top: -40px
    }
    .cart-mobile {
        padding: 10px 0px 0px 0px
    }
    .header-cart {
        padding: 10px 15px 0px;
        border-bottom: solid 1px #ebebeb;
        margin-top: -10px
    }
    .header-cart-content {
        margin-top: 10px
    }
    .header-cart-content .content-product-list {
        min-height: 110px
    }
    .header-cart .title-cart {
        line-height: 10px
    }
    .header-cart-price {
        padding: 18px 15px
    }
    .title-cart h3 {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase
    }
    .title-cart p {
        font-family: Arial, sans-serif;
        font-size: 12px;
        color: #9c9c9c
    }
    .title-cart a {
        float: right;
        margin-top: -28px;
        color: #35c0c5;
        font-size: 16px;
        line-height: 27px;
        font-family: Arial, sans-serif
    }
    .btn-proceed-checkout-mobile {
        width: 100%;
        line-height: 27px;
        color: #fff;
        height: 40px;
        font-size: 14px;
        border: none;
        background: #35c0c5
    }
    .content-product-list .item-product {
        padding: 15px 15px;
        min-height: 110px;
        border-bottom: solid 1px #ebebeb;
        overflow: hidden
    }
    .item-product-cart-mobile,
    .title-product-cart-mobile,
    .select-item-qty-mobile {
        float: left
    }
    .item-product-cart-mobile {
        max-width: 115px;
        margin-right: 10px
    }
    .item-product-cart-mobile img {
        max-width: 115px;
        margin-right: 10px;
        height: auto
    }
    .select-item-qty-mobile {
        float: right;
        text-align: center
    }
    .title-product-cart-mobile a {
        word-break: break-word;
        font-family: Arial, sans-serif;
        font-size: 14px;
        color: #363636
    }
    .select-item-qty-mobile input.qty {
        background: none repeat scroll 0 0 #fff;
        border: 1px solid #ebebeb;
        font-size: 15px;
        font-weight: 400;
        margin: 0 !important;
        outline: medium none;
        padding: 5px 5px 5px 12px;
        width: 41px
    }
    .title-product-cart-mobile p {
        line-height: 2;
        font-size: 14px;
        font-family: Arial, sans-serif;
        color: #898989
    }
    .title-product-cart-mobile span {
        color: #35c0c5
    }
    .select-item-qty-mobile a {
        line-height: 3;
        color: #363636;
        font-family: 'Open Sans', sans-serif
    }
}
.cart-popup-name a,
.add_sus i {
    color: #35c0c5 !important
}
.jssocials-share {
    line-height: 45px
}
span.cartCount.cart-popup-count.mobile-count {
    display: none
}
@media (max-width: 1199px) {
    span.cartCount.cart-popup-count.mobile-count {
        color: #fff;
        font-size: 15px;
        position: absolute;
        min-width: 16px;
        top: -17px;
        right: 1px;
        display: block;
        text-align: center
    }
}
ul.checkout {
    list-style: none;
    padding: 0
}
.cart-tbody .item-cart div .input_qty_pr {
    padding-right: 20px
}
.cart-tbody button.reduced_pop.items-count.btn-minus {
    border-left: 0 !important
}
.cart-tbody .item-cart .number-sidebar {
    min-height: 0;
    position: static;
    display: inline-block;
    float: none;
    width: 49px;
    margin-bottom: 0;
    padding-left: 23px
}
.cart_page_mobile button.increase.items-count.btn-plus {
    border: 1px solid #ebebeb !important
}
.cart_page_mobile button.reduced.items-count.btn-minus {
    border: 1px solid #ebebeb !important
}
.cart .product-name a {
    color: #333
}
section.main-cart-page.main-container.col1-layout {
    min-height: 200px
}
section.main-cart-page.main-container.col1-layout .cart_desktop_page>p {
    margin-top: 20px
}
.cart {
    margin-bottom: 30px
}
img#zoom_01 {
    width: 100%;
    height: auto;
    margin-bottom: 20px
}

ul.content-header  .dropdown-menu  li{

    height: auto !important;
    display: block !important;
    float: none;
    padding: 5px;

}
ul.content-header  .dropdown-menu  li:hover {
    background: #ff9800;

   
}
ul.content-header  .dropdown-menu  li:hover > a  {
    color: white;

   
}

.dropdown-menu.smart-user{
position:  relative;

}