.page-logo{
    padding-left: 7px  !important;

}

.page-logo a {
    margin-top: 6px;
}
.page-logo  img{

    width: 237px;
}

.clearfix-table {
    display: block;
    margin-top: 10px;
}

.header-search {
    margin-bottom: 10px;
}
.m-icon-white {
    background-image: url('../images/syncfusion-icons-white.png');
}

ul  {
    list-style: none;
    padding-left: 0px;
}

.error_content{
    
    color:red;
}


/*.header-search .table-group-actions select {*/
     /*width: 200px !important;*/
 /*}*/
/*.header-search .table-group-actions input[name=search] {*/
    /*width: 200px !important;*/
/*}*/

.pagination .active-pagination{
    background-color: gainsboro;
}


table .notfound-data {
    text-align: center;

}

.portlet > .portlet-title {
    border-bottom: 1px solid #ccc;
}
.box-image-review img {

    width: 300px;
    height: 150px;
}


.block_info_inner .info_list li .info_right .file_note {
    font-size: 11px;
    color: #666;
}
 .block_info_inner .info_list li .info_right .logo_chang .logo_status {
    padding-top: 10px;
}
.block_info_inner .info_list li .info_right .contact_gender {
    float: left;
    width: 60px;
}
.block_info_inner .info_list li .info_right .select_lang {
    max-width: 220px;
}
.block_info_inner .info_list li .info_right .select_style {
    margin-top: 0;
    height: 23px;
}
.block_info_inner .info_list li .info_right .select_style .select {
    height: 25px;
    border: 1px solid #dce4e7;
}
 .block_info_inner .info_list li .info_right .select-styled {
    height: 21px!important;
    padding-top: 3px!important;
}
.block_info_inner .info_list li .info_right .display_name {
    padding: 8px 0 0 0;
}
#contents .company_info .block_info_inner .info_list li .info_right .display_name span {
    float: left;
    top: 0;
}
.block_info_inner .info_list li .info_right .display_name em {
    font-size: 12px;
    color: #333;
    display: block;
    padding: 0 0 0 20px;
    line-height: 17px;
}
 .block_info_inner .info_list li .info_right .priority_for em {
    color: #333;
    font-weight:  bold;
    text-transform: uppercase;
}
.block_info_inner .info_list li .info_right .job_level {
    width: 230px;
}
.block_info_inner .info_list li .info_right .chosen-container {
    width: 100%;
}
 .block_info_inner .info_list li .info_right .input_list_info_input .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    margin: 1px 0;
    padding: 0 !important;
    height: 20px !important;
    outline: 0;
    box-shadow: none;
    color: #898989;
    line-height: normal;
    border-radius: 0px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    -o-border-radius:0px;

    position:relative;
    z-index:10;
    width: 100% !important;
    background: #f4f4f4;
    border: 1px solid #e4e4e4;
}
 .block_info_inner .info_list li .info_right li.search-choice {
    margin: 2px 5px 2px 0px !important;
    padding: 0 3px 0 10px !important;
}
.block_info_inner .info_list li .info_right li.search-choice:first-child {
    padding-left:0px;
}
.block_info_inner .info_list li .info_right li + li {
    margin-top: 0!important;
}
.block_info_inner .info_list li .info_right .salary_range li {
    display: inline-block;
    vertical-align: middle;
}
.block_info_inner .info_list li .info_right .salary_range li + li {
    margin: 0 0 0 20px;
}
 .block_info_inner .info_list li .info_right .salary_range li label {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    color: #333;
}
 .block_info_inner .info_list li .info_right .salary_range li input {
    display: inline-block;
    vertical-align: middle;
}
.block_info_inner .info_list li .info_right .salary_type {
    padding-top: 10px;
}
 .block_info_inner .info_list li .info_right .salary_type a {
    margin-top: 1px;
}
 .block_info_inner .info_list li .info_right .image_list {
    margin: 0 -20px 0 0;
}
 .block_info_inner .info_list li .info_right .image_list li {
    width: 135px;
    text-align: center;
    position: relative;
    display: inline-block;
    margin: 0 20px 0px 0;
}
.block_info_inner .info_list li .info_right .image_list li .img_box {
    border: 1px solid #dce4e7;
}
.block_info_inner .info_list li .info_right .image_list li .img_box img {
    max-width: 100%;
    height: auto;
}

.block_info_inner .info_list li .info_right .image_list li .img_del {
    position: absolute;
    right: 0;
    top: 0px;
    z-index: 9999;

}
 .block_info_inner .info_list li .info_right .image_list li .post_img a {
    display: block;
    padding: 5px;
    text-align: center;
}
 .block_info_inner .info_list li .info_right .note_content02 {
    margin-top: -35px;
    color: #666;
    font-size: 11px;
    padding-top: 3px;
}

.post_img .custom-file-upload {
    display: block;
    padding: 5px 0;
    cursor: pointer;
    width: 150px;
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background: #65A0D0;
    margin-top: 10px;
}

.ms-container {

    width: 650px !important;
}

#other_language_container .row {
    margin: 5px 0px;
}

#education_container .row {
    background: #eee;
    margin-top: 5px;
    padding-top: 5px;
}

#education_container .row:first-child {
    background: transparent;
}

#skill_container .row {
    background: #eee;
    margin-top: 5px;
    padding-top: 5px;
}

#skill_container .row:first-child {
    background: transparent;
}


#experience_container .row {
    background: #eee;
    margin-top: 5px;
    padding-top: 5px;
}

#experience_container .row:first-child {
    background: transparent;
}

#reference_container .row {
    background: #eee;
    margin-top: 5px;
    padding-top: 5px;
}

#reference_container .row:first-child {
    background: transparent;
}
.loading-message {
    z-index: 99999;
}

.btn.default .badge {
    padding-top:3px;
}

/*--------------------------------------------------
    [TRANSITION]
----------------------------------------------------*/
/* Cubic Bezier Transition */
/***
Error Pages
***/
/* 404 page option #1 */
.page-404 {
    text-align: center;
}

.page-404 .number {
    position: relative;
    top: 35px;
    display: inline-block;
    letter-spacing: -10px;
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 128px;
    font-size: 128px;
    font-weight: 300;
    color: #7bbbd6;
    text-align: right;
}

.page-404 .details {
    margin-left: 40px;
    display: inline-block;
    padding-top: 0px;
    text-align: left;
}

/* 500 page option #1 */
.page-500 {
    text-align: center;
}

.page-500 .number {
    display: inline-block;
    letter-spacing: -10px;
    line-height: 128px;
    font-size: 128px;
    font-weight: 300;
    color: #ec8c8c;
    text-align: right;
}

.page-500 .details {
    margin-left: 40px;
    display: inline-block;
    text-align: left;
}

/* 404 page option #2*/
.page-404-full-page {
    overflow-x: hidden;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fafafa !important;
}

.page-404-full-page .details input {
    background-color: #ffffff;
}

.page-404-full-page .page-404 {
    margin-top: 100px;
}

/* 500 page option #2*/
.page-500-full-page {
    overflow-x: hidden;
    padding: 20px;
    background-color: #fafafa !important;
}

.page-500-full-page .details input {
    background-color: #ffffff;
}

.page-500-full-page .page-500 {
    margin-top: 100px;
}

/* 404 page option #3*/
.page-404-3 {
    background: #000 !important;
}

.page-404-3 .page-inner img {
    right: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
}

.page-404-3 .error-404 {
    color: #fff;
    text-align: left;
    padding: 70px 20px 0;
}

.page-404-3 h1 {
    color: #fff;
    font-size: 130px;
    line-height: 160px;
}

.page-404-3 h2 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 30px;
}

.page-404-3 p {
    color: #fff;
    font-size: 16px;
}

@media (max-width: 480px) {
    .page-404 .number,
    .page-500 .number,
    .page-404 .details,
    .page-500 .details {
        text-align: center;
        margin-left: 0px;
    }

    .page-404-full-page .page-404 {
        margin-top: 30px;
    }

    .page-404-3 .error-404 {
        text-align: left;
        padding-top: 10px;
    }

    .page-404-3 .page-inner img {
        right: 0;
        bottom: 0;
        z-index: -1;
        position: fixed;
    }
}
.list-package-agency-use-detail{
    list-style: inherit;
    padding-left: 15px;
}



