.boxUpload {

  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px dotted  gray;
  padding: 5px;
   box-sizing:border-box;
}

.boxUpload .itemImage {

  width: 80px;
  height: 100px;
  border: 1px solid gray;
  position: relative;
  display: inline-block;
  margin-right: 10px;


}

.boxUpload .itemImage img {
  width: 100%;
  height: 80px;
  display: inline-block;

}
.inputImage {
  text-align: center;
  position: absolute;
  bottom: 0px;
  background-color: #00bcd4;
  width: 100%;

}
.inputImage  a {
  cursor: pointer;
  text-decoration: none;
  color:white;
}
.inputImage:hover {
  background-color: #673ab7;
}
.inputupload {

  display: none;
}